IMAGE_NAME=xsam:cuda12.8-py310

DEV_CONTAINER_NAME=xsam-dev
DEMO_CONTAINER_NAME=xsam-demo

CUDA_VISIBLE_DEVICES=0
GPU_PER_NODE=1
MASTER_ADDR=127.0.0.1
MASTER_PORT=29500

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1

FLASH_ATTN_WHEEL_URL=https://drive.google.com/file/d/1Y87ikQEC8yQOFUxCVoERGPuQd7MYNwfj/view?usp=sharing
FLASH_ATTN_WHEEL_NAME=flash_attn-2.8.3-cp310-cp310-linux_x86_64.whl
FLASH_ATTN_WHEEL_SHA256=91571f68f4113065dba4464a0d8d911f9e27969f139a6851c46668e06c2ac5f7

GRADIO_PORT=7862
SHM_SIZE=64g
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True,max_split_size_mb:256,garbage_collection_threshold:0.8
ULIMIT_NOFILE_SOFT=1048576
ULIMIT_NOFILE_HARD=1048576
ULIMIT_MEMLOCK_SOFT=-1
ULIMIT_MEMLOCK_HARD=-1
ULIMIT_STACK_SOFT=67108864
ULIMIT_STACK_HARD=67108864

HOST_WORKSPACE=..
HOST_DATA_DIR=../data
HOST_INITS_DIR=../inits
HOST_RUNS_DIR=../runs

HOST_HF_HOME=/home/<user>/.cache/huggingface
CONTAINER_HF_HOME=/home/<user>/.cache/huggingface
